/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px
recommended to use em in media queries instead of rem as it causes bugs in some browser */

/* ***************************** */
/* BELOW 1344px */
/* ***************************** */

/* 1344/16 = 84em */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ***************************** */
/* BELOW 1200px (LANDSCAPE TABLETS) */
/* ***************************** */

/* 1200/16 = 75em */

@media (max-width: 75em) {
  /* earlier using font size = 10px and by default it was 16px so 10px /16px = 62.5px
    decreasing the font size to 9px i.e 9px/16px = 56.25% */
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/* ***************************** */
/* BELOW 944px (TABLETS) */
/* ***************************** */

/* 944/16 = 59em */
@media (max-width: 59em) {
  /* target: 8px => 8px/16px = 0.5 = 50% */
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
